.post-container {
    padding-bottom: 10px;
    margin: 40px;
    
    border: 2px solid #ba3b0a;
    background-color: #ffbe79;
    border-radius: 10px;
    font-family: DejaVu Sans Mono, monospace;
    box-shadow: 4px 4px 10px .2px #BD3101;
}

.post-main-content {
    padding: 10px;
}


#dateButtons {
    display: flex;
   justify-content: space-between;

}

.post-body-text {
    margin-left: 10px;
    margin-top: 10px;

}

.post-recipie-dropdown {

}


.sidebar-toggle {
    text-align: center;
    padding: 5px 0px;
    border-top: 2px solid #ba3b0a;
    border-bottom: 2px solid #ba3b0a;
    width: 100%;
    background-color: #F5CDAC;
    cursor: pointer;
    color: #ba3b0a;
}

.sidebar-toggle:hover {
    background-color: #F5A563;
}

#profileLink{
    background-color: #F5CDAC;
    color: #ba3b0a;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    border:#ba3b0a;
    border: 1px solid;
    border-color: #F57114;
    border-radius: 5px;
}

#profileLink:hover {
    background-color: #F5A563;
}


.EditDeleteButton{
    background-color: #F5CDAC;
    color: #ba3b0a;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    border:#ba3b0a;
    border: 1px solid;
    border-color: #F57114;
    border-radius: 5px;
}

.EditDeleteButton:hover{
    background-color: #F5A563;
}


.images{
    border-radius: 10px;
    height: auto;
    width: 100%;
    margin-top: 15px;
}

.Add-to-cart{
    cursor: pointer;
    /* color: white */

}

.Add-to-cart1{
    cursor: pointer;
    /* color: black */

}

#titleandEdit{
    display: flex;
    justify-content: space-between;
}

.likesButton {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
  }

  
  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .likesButton{
        background-color: #ffbe79;
        /* box-shadow: 0 2px 4px rgba(255, 26, 26, 0.1), 0 8px 16px rgba(255, 0, 0, 0.1); */
        box-shadow: 4px 4px 10px .2px #BD3101;
        border-radius: 10px;
        font-size: 17px;
        line-height: 48px;
        width: 60px;
        padding: 0 16px;
        position: relative;
        text-align: center;
        margin-left: 25px;
        margin-bottom: 15px;
    }
}

.likesNum{
    margin-left: 115px;
    width: 50px;
    text-decoration: underline;
    position: relative;
    top: -35px;

}

.price-Addtocart {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
