.post-container {
    padding-bottom: 10px;
    margin: 40px;
    border: 2px solid #ba3b0a;
    background-color: #ffbe79;
    border-radius: 10px;
    font-family: DejaVu Sans Mono, monospace;
    box-shadow: 4px 4px 10px .2px #BD3101;

}

.post-main-content {
    padding: 10px;
}

.post-info-span {
   
}

.post-body-text {
    padding-top: 10px;
}

.post-recipie-dropdown {

}


.sidebar-toggle {
    text-align: center;
    padding: 5px 0px;
    border-top: 2px solid #ba3b0a;
    border-bottom: 2px solid #ba3b0a;
    width: 100%;
    background-color: #F5CDAC;
    cursor: pointer;
    color: #ba3b0a;
}

.sidebar-toggle:hover {
    background-color: #F5A563;
}

#profileLink{
    background-color: #F5CDAC;
    color: #ba3b0a;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    border:#ba3b0a;
    border: 1px solid;
    border-color: #F57114;
    border-radius: 5px;
}

#profileLink:hover {
    background-color: #F5A563;
}

