.outerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 120px;
    /* background: #ffbe79; */
}



.session-form{
    background: #ffbe79;
    padding: 30px;
    border: 3px solid #ba3b0a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formTitle{
    font-family: DejaVu Sans Mono, monospace;
    font-size: 25px;
}

/* *, *::before, *::after {
    box-sizing: border-box;
  } */

.custom-field {
    font-size: 14px;
    position: relative;
    --field-padding: 12px;

}
.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
    padding: var(--field-padding);
  }

  .formButton{
    margin-top: 15px;
    padding: 7px;
    border: 3px solid #ba3b0a;
    border-radius: 10px;
    background-color: #FFEAD9;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 18px;
  }

  .formButton:hover{
    background-color: #F5A563;
  }





/*
.custom-field {
    position: absolute;
    left: 12px;
    bottom: 50%;
    top: 22px;
    transform: translateY(-50%);
    width: calc(100% - 24px);
    color: #aaa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    --field-padding: 12px;
    border-top: 20px solid transparent;
  } */
