.form{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}
#outer{
    padding-top: 110px;
}

.textinput{
    margin-top: 80px;
    max-width: 50%;
    font-family: DejaVu Sans Mono, monospace;
}

.photoUpload{
    display: none;
}

.submitButton{
    margin-top: 30px;
    max-width: 25%;
   margin-left: 14%;
   background-color: #F5CDAC;
   color: #ba3b0a;
   padding: 3px;
   text-decoration: none;
   text-transform: uppercase;
   border:#ba3b0a;
   border: 1px solid;
   border-color: #F57114;
   border-radius: 5px;
   font-family: DejaVu Sans Mono, monospace;
}

.submitButton:hover{
    background-color: #F5A563;
}

.entireUpload{
    width: 50%;
    margin-top: 30px;
    margin-left: 0;
    font-family: DejaVu Sans Mono, monospace;
    border: 2px dashed #ba3b0a;
    background-color: #F5A563;
    text-align: center;
}

.recipeInput{
    max-width: 50%;
    margin-top: 20px;
}

#recipie-name {
    padding-top: 0px;
}

.submitButton{
    cursor: pointer;
}