.login-option{
    /* padding-left: 700px;
    padding-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    
}

.login-links{
    font-size: xx-large;
    margin-top: 100px;
    font-family: DejaVu Sans Mono, monospace;
    color: #ba3b0a;
    
}


.login-something{
    margin-top: 50px;
}

.project-title{
    display: flex;
    flex-direction: column;
    
        font-size:50px;
        /* padding-top: 200px;
        padding-left: 500px; */
        font-family: DejaVu Sans Mono, monospace;
        color: #ba3b0a;


}



