#navbarOuter{
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}

.links-auth{
    margin-top: 28px;
}

.links-nav{
    margin-top: 28px;
}

.rightNav{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    
}

#title{
    font-family: cursive;
    margin: 25px;
}