#navbarOuter{
    display: flex;
    justify-content: space-between;
    background-color: #ffbe79;
    border-bottom: 2px solid #ba3b0a;
}

.links-auth{
    margin-top: 28px;
}

.links-nav{
    margin-top: 28px;
}

.rightNav{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ba3b0a;
    
}

#title{
    font-family: cursive;
    margin: 25px;
}

#logo{
    max-width: 120px;
}